
.form-container{
  max-width: 800px;
  margin: 0 auto;
}
.form-control{
  background-color: rgba(55, 114, 255, 0.03);
  // padding: 1.6rem 2rem;
  height: 60px;
}
.form-control-validate {
  font-family: inherit;
  border-radius: 3px;
  border-bottom-width: 2px;
  transition: border-bottom-color .4s;
}

input:focus {
  border-bottom-color: grey;
  outline: none
}

input.ng-touched.ng-invalid, select.ng-touched.ng-invalid {
  border-bottom-color: red;
}

input.ng-touched.ng-valid, select.ng-touched.ng-valid {
  border-bottom-color: green;
}
