.quantity-control{
    border-radius: 5px;
    padding: 5px;
    background-color: #d9d9d9;
}
.quantity-control button{
    padding: 5px 10px;
}

@media screen and (max-width:  500px){
    .quantity-control button{
        padding: 3px 5px;
    }
}