.quantity-control{
    padding: 3px 5px;
    background-color: #eee;
}
.quantity-control button{
    padding: 5px 10px;
}

@media screen and (max-width:  500px){
    .quantity-control button{
        padding: 3px 5px;
    }
}

.btn-alter-quantity {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
