.quantity-control{
    padding: 3px 5px;
    background-color: #eee;
}

@media screen and (max-width:  500px){
    .quantity-control button{
        padding: 3px 5px;
    }
}

.btn-alter-quantity {
    padding: .25rem .5rem;
    color: #fff;
    background-color: var(--bluehash);
}
