<div
    *ngIf="isInCart; else add"
    class="d-flex justify-content-between quantity-control font-weight-bold"
  >
  <button *ngIf="numberInCart > 1"
          class="btn btn-alter-quantity"
          (click)="decreaseInCart()">
    <i class="bi bi-dash-lg"></i>

  </button>
    <button *ngIf="numberInCart == 1"
            class="btn btn-alter-quantity "
            (click)="removeFromCart()">
      <i class="bi bi-x-lg"></i>
    </button>
    <span class="m-auto">{{ numberInCart }}</span>
    <button class="btn btn-alter-quantity" (click)="increaseInCart()">
      <i class="bi bi-plus-lg"></i>
    </button>
  </div>
  <ng-template #add>
    <button (click)="addToCart()" class="btn btn-secondary w-100 p-1">
      <i class="fa fa-cart-plus mr-3"></i>
      Add to cart
    </button>
  </ng-template>
