<div
    *ngIf="isInCart; else add"
    class="d-flex justify-content-between quantity-control font-weight-bold"
  >
  <button *ngIf="numberInCart > 1"
          class="btn btn-alter-quantity btn-secondary"
          (click)="decreaseInCart()">
    <fa-icon [icon]="icons.minus"></fa-icon>
  </button>
    <button *ngIf="numberInCart == 1"
            class="btn btn-alter-quantity btn-secondary"
            (click)="removeFromCart()">
      <fa-icon [icon]="icons.times"></fa-icon>
    </button>
    <span class="m-auto">{{ numberInCart }}</span>
    <button class="btn btn-alter-quantity btn-secondary" (click)="increaseInCart()">
      <fa-icon [icon]="icons.plus" ></fa-icon>
    </button>
  </div>
  <ng-template #add>
    <button (click)="addToCart()" class="btn btn-sm btn-secondary w-100 p-1">
      <i class="fa fa-cart-plus mr-3"></i>
      Add to cart
    </button>
  </ng-template>
