<div
    *ngIf="isInCart; else add"
    class="d-flex justify-content-between quantity-control font-weight-bold"
  >
  <button *ngIf="numberInCart > 1"
          class="btn btn-alter-quantity"
          (click)="decreaseInCart()">
    <mat-icon inline="true" >remove</mat-icon>

  </button>
    <button *ngIf="numberInCart == 1"
            class="btn btn-alter-quantity "
            (click)="removeFromCart()">
            <mat-icon inline="true">clear</mat-icon>
    </button>
    <span class="m-auto">{{ numberInCart }}</span>
    <button class="btn btn-alter-quantity" (click)="increaseInCart()">
      <mat-icon inline="true">add</mat-icon>
    </button>
  </div>
  <ng-template #add>
    <button (click)="addToCart()" class="btn btn-secondary w-100 p-1">
      <i class="fa fa-cart-plus mr-3"></i>
      Add to cart
    </button>
  </ng-template>
