<div class="product">
    <img src="../../assets/iphone 3 dynamic.png" width="100%" alt="">
    <h4 class="text-center">{{product.model}}</h4>
    <p class="text-center">{{product.price}}</p>
    <button *ngIf="!isInCart" (click)="addToCart()" class="btn btn-secondary w-100">Add to cart</button>
    <div *ngIf="isInCart" class="d-flex justify-content-between quantity-control font-weight-bold">
        <button class="btn btn-secondary" (click)="decreaseInCart()" >-</button>
        <span class="m-auto">{{numberInCart}}</span>
        <button class="btn btn-secondary" (click)="increaseInCart()" >+</button>
    </div>    

</div>