<div class="h-100" @fade>
  <div class=" col-10 col-sm-6 col-md-4 rounded login__content">
    <i class="fa fa-3x fa-user login__icon"></i>
    <h1 class="text-center py-2">Login</h1>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" >

      <p [ngClass]="{'text-danger': true, 'd-none': !isLoginFailed}">Invalid Username or password</p>
      <fa-icon *ngIf="isLoading" [icon]="faSpinner" size="lg"  pulse="true"></fa-icon>
      <div class="form-group">
        <label for="email">Email address: </label>
        <input ngModel name="email" type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>  
        <input ngModel name="password" type="password" class="form-control" id="pwd">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
