
.login {
  &__content {
    box-shadow: 0px 0px 5px rgba(27, 31, 35, 0.44);
    background-color: #fff;
    margin:  2rem auto 0 auto;
    padding: 2.5rem;

  }

  &__icon {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    background-color: grey;
    padding: 1.5rem;
    border-radius: 100px;
  }
}

label {
  display: block;
}

.btn--submit{
  min-width: 100px;
}