html{
    font-size: 100%;
}
@media screen and (max-width: 750px){
    html{
        font-size: 85%;
    }
}

.footer{
    margin-top: 5px;
}

.b-radius{
    border-radius: 5px;
}

.btn-blue {
  background-color: #002966;
  color: rgb(234, 233, 233);
}
.btn-blue:hover{
    color: white
}

.bg-slight-dark {
  background-color: #f5f5f5;
}

footer{
    padding: 20px;
    height: 50px;
    background-color: #081b38;
    color: white;
    text-align: center;
}

.box-shadow {
  box-shadow: 0 2px 6px rgb(170, 170, 170);
}
