<section class="page-content" @fade>

  <h1 class="page-title">Products</h1>

  <div class="d-flex my-4">
    <a routerLink="/admin/products/new" class="btn btn-primary">
      <i class="fa fa-plus-circle mr-2"></i> New Product
    </a>
  </div>
  
  
  <table class="table table-borderless ">
    <thead>
      <tr >
        <th>Product ID</th>
        <th>Model</th>
        <th>Price</th>
        <th>Brand</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>
          <a [routerLink]="['/admin', 'products', product.id]">{{ product.model }}</a>
        </td>
        <td>{{ product.price }}</td>
        <td>{{ product.brand.name }}</td>
        <td class="pt-0" >
          <img
            *ngIf="!hasPhoto(product)"
            src="../../../assets/images/image-not-found.jpg"
            class="product__img"
          />
          <img
            *ngIf="hasPhoto(product)"
            class="product__img"
            [src]="getPhoto(product)"
          />
        </td>
      </tr>
    </tbody>
    
  </table>
</section>
