<h1>Products</h1>
<a routerLink="/products/new" class="btn btn-primary mt-2">New Product</a>
<div class="d-flex flex-column mt-5">
  <table class="table table-bordered m-auto col-10 col-md-6">
    <tr>
      <th></th>
      <th>Model</th>
      <th>Price</th>
      <th>Brand</th>
    </tr>
    <tr *ngFor="let product of products">

      <td>
        <img *ngIf="!hasPhoto(product)"
             src="../../assets/no-image.jpg"
             class="img-thumbnail product-img"
             />
        <img *ngIf="hasPhoto(product)"
             class="img-thumbnail product-img"
             [src]="getPhoto(product)" />
      </td>
      <td>
        <a [routerLink]="['/products', product.id]" >{{product.model}}</a>
      </td>
      <td>{{product.price}} </td>
      <td>{{product.brand.name}}</td>
    </tr>
  </table>
</div>
