.page-content{
  max-width: 1500px;
}
tr{
  margin-bottom: .8rem;
}
th{
  padding: 35px .75rem;
  color: rgba(#000, 0.7);
  font-weight: 900;
  text-transform: uppercase;
}
.product {

    &__image-container{
        display: flex;
    }


    &__img {
    height: 100px;
    min-width: 100px;
    max-width: 150px;
    margin: auto;
    display: inline-block;
  }
}
