<div class="row">
  <div class="col-md-6 b-radius">
    <img *ngIf="!hasPhoto(product )" src="../../assets/no-image.jpg" class="w-100" alt="" />

    <!--carousel-->
    <div *ngIf="hasPhoto(product)" id="photos" class="carousel slide inherit-width" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li *ngFor="let image of product.productImages; index as i; first as isFirst"
            data-target="#photos"
            data-slide-to="i"
            [ngClass]="{'active': isFirst }">
        </li>
        
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner ">
        <div class="inherit-width" *ngFor="let image of product.productImages; index as i; first as isFirst"
             [ngClass]="{'carousel-item': true, 'active': isFirst}">
          <img class="product-image inherit-width" [src]="'images/products/' + image.name" >
        </div>
        </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#photos" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#photos" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
  <div class="col-md-6 p-5">
    <h2 class="pt-4 text-center font-weight-bold">{{ product.model }}</h2>
    <p>Brand <span class="text-bold">{{ product.brand.name }}</span></p>
    <p>Price <span class="text-bold">{{product.price}}</span></p>
    <app-alter-in-cart [product]="product" *ngIf="product"></app-alter-in-cart>
  </div>
  <div class="col-12 col-md-10 offset-md-1 bg-white mt-4 p-3">
    <ul class="nav nav-tabs nav-justified">
      <li class="nav-item">
        <a class="nav-link active" href="#description" >Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" >Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >Link</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane container active" id="description">
        <h1>working</h1>
      </div>
      <div class="tab-pane container fade" id="menu1">...</div>
      <div class="tab-pane container fade" id="menu2">...</div>
    </div>
  </div>
</div>
