<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">MobileStoreApp</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/']">Products</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/cart']">
              <img src="../../assets/shopping-cart.svg" height="20px" />
              <span class="pl-2">
                My Cart
                <span *ngIf="orderItemsNumber > 0"
                      class="badge badge-primary">{{ orderItemsNumber }}</span>
              </span>
            </a>
          </li>

          <li *ngIf="isLogedIn; else login" class="nav-item" #profile>
            <div class="dropdown btn">
              <div class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user mr-2"></i>
                <span>{{auth.email }}</span>
              </div>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" routerLink="/profile" >Profile</a>
                <a class="dropdown-item" (click)="logOut()" > <i class="fa fa-sign-out-alt"></i> Log out</a>
              </div>
            </div>

          </li>
          <ng-template #login>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
            </li>
          </ng-template>


        </ul>

      </div>
    </div>
  </nav>
</header>
