
<div class="page-container">
  <div class="sidebar">
    <div class="logo-container">
      <a class="navbar-brand text-uppercase"> Gadget Bazaar</a>
    </div>
    <a class="sidebar__item active" href="#home">Home</a>
    <a class="sidebar__item" href="#news">News</a>
    <a class="sidebar__item" href="#contact">Contact</a>
    <a class="sidebar__item" href="#about">About</a>
    <footer class="footer">
        <p>My ecommerce web app &copy; 2020</p>
      </footer>
  </div>

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</div>
