$primary-blue: #3772ff;

.page-container{
    display: flex;
    height: 100vh;
}
  
.sidebar{
    width: 280px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    margin: .5rem;

    &__item{
        color: inherit;
        display: block;
        padding: 14px;
        margin: 12px 5px;
        text-decoration: none;
        cursor: pointer;
        border-radius: .8rem;
        transition: .1s;
        font-size: 18px;

        &:hover{
            background-color: rgba($primary-blue, .1);
        }

        .icon{
            width: 15px;
            display: inline-block;
            margin-right: 20px;

            img{
                height: 18px;
                fill: blue;
            }
        }
    }

    &__heading{
        display: block;
        padding: 14px;
        padding-bottom: 0;
        margin: 12px;
        margin-bottom: -12px;
        font-size: .8rem;
    }
}
.nav-item__sm{
    display: none;
}

@media only screen and (max-width: 576px) {
 .sidebar{
     display: none;
 }
 .nav-item__sm{
     display: block;
 }   
}

.logo-container{
    height: 80px;
    border-bottom: 1px solid #00000012;

    a{
        font-weight: 700;
        font-size: 22px;
        padding: 1.2rem 1.5rem;;
    }
}
.active{
    background-color: rgba($primary-blue, .1);
}

.main{
    flex-grow: 1;
    margin-top: .5rem;

    &__heading{
        height: 80px;
        border-bottom: 1px solid #00000012;
    }
}
