.btn{
  padding: .8rem 1.5rem;
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
}

button:disabled, button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}