<div class="row h-auto" @fade>
  <div class="col-md-8 offset-md-2 bg-white cart-component-content p-4 m-auto box-shadow">
    <h1 class="text-center mb-4">Check out</h1>
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
      <tr *ngFor="let orderItem of orderItems">
        <td>{{ orderItem.product.model }}</td>
        <td>{{ orderItem.product.price }}</td>
        <td>{{orderItem.quantity}}</td>
      </tr>
    </table>
    <p>Total Price : {{totalPrice}}</p>

    <div class="d-flex mt-5">
      <button (click)="placeOrder()" class="btn btn-blue m-auto text-bold" [disabled]="canPlaceOrder">Place Order </button>
    </div>
  </div>
</div>
